body
{
    background-image: url(https://images.pexels.com/photos/1082342/pexels-photo-1082342.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;

    background-position: center;
    background-color: #cccccc;
}

.top
 {
  overflow: hidden;
  background-color: #333;
}
.img1
{
  width: 100%;
  height: 650px;
}
.img2
{
  width: 100%;
  height: 650px;
}
.img3
{
  width: 100%;
  height: 650px;
}




.top a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top a:hover {
  background-color: #ddd;
  color: black;
}

.top a.active {
  background-color: #4CAF50;
  color: white;
}
.container
{
  background-color: rgba(255, 99, 71, 0.753);
  text-align: inherit;
}
.LKO
 {
   text-align: center;
   font-size: 50px;
   font-style: italic;
   text-anchor: start;

}
.jhg
{
object-position: center;
}
@media only screen and (max-width: 600px) {
  body {

    font-family: sans-serif;

  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.sam
{
width: 100px;
}
.ob{

}
.no{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #92493A  ;
  margin-top: 10px;
}


#totalCostSpan{
  color: green;

}

h1::first-letter {
  font-size: 200%;
  color:green;
}



.footer{

  background-color: black;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  padding: 20px;
  color: #fff;

}

.second{
  display: none;
}